body 
{
    display: flex;
margin:0;
padding:0;
body-sizing: border-box;
overflow: hidden;
    background-color: #bcb1b1;

overflow: hidden;
}

 .hover
{
    width: 334px;
    height: 334px;
    flex-shrink: 0;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px 4px 20px 0px rgba(190, 148, 243, 0.20);
    transition: 0.4s;
    position: absolute;
    top : 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin:auto;
    text-align: center;
    

}
.hover.active{
    border: 3px solid #7F1DFE;

}
    .menu.active{
        background: var(--Glass, linear-gradient(91deg, rgba(255, 255, 255, 0.80) 8.9%, rgba(255, 255, 255, 0.70) 53.28%, rgba(255, 255, 255, 0.50) 95.33%));
        width: 744px;
        height: 744px;
        border-radius: 50%;
        margin : auto;
        z-index: -1;
        top : 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
    }

    .menu {
        height: 6.2em;
        width: 6.2em;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        z-index: -2;
        transition: 0.3s;
        box-shadow: -2px -2px 5px rgba(255, 255, 255, 0.80),
        3px 3px 5px rgba(190, 148, 243, 0.20);
    }
    
    .menu.active a {
        visibility: visible;
        opacity: 1;
    }
    
    .menu a {
        position: absolute;
        visibility: hidden;
        opacity: 0;
        font-size: 5em;
        display: flex;
        color: black;
        width: 64px;
        height: 64px;
    }
    
 
 .menu i {
    font-size: 5em;
 }
 .menu a:nth-child(1) {
top:17px;
left:350px;
}
/* camera */
.menu a:nth-child(2) {
    top:180px;
    left:590px;
}
.menu a:nth-child(3) {
    top:620px;
    left:450px;
}
.menu a:nth-child(4) {
    top:375px;
    left:620px;
}

.menu a:nth-child(5) {
    top:575px;
    left:150px;
}

/* idk */
.menu a:nth-child(6) {
    top:290px;
    left:35px;
}
/* poll */
.segmen.activet {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 372px solid transparent; /* Half of the circle's width */
    border-right: 372px solid transparent; /* Half of the circle's width */
    border-bottom: 372px solid transparent; /* Half of the circle's width */
    border-top: 0;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    transform: rotate(60deg); /* Rotate each segment */
}
.segment.active.hover:hover {
    background-color: #7F1DFE;
    transition: background-color 0.3s;
}